[Desktop Entry]
Type=Application
Name=[WORK] Microsoft Teams
Comment=Microsoft Teams (PWA)
Exec=/bin/sh -lc "exec \\$HOME/.config/hypr/scripts/edge-auto-scale.sh --app=https://teams.microsoft.com"
Icon=teams
Terminal=false
Categories=Network;Chat;Office;
StartupWMClass=teams.microsoft.com
